body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

.app-container {
  /* width: 80%; */
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 20px;
  /* background-color: #1E1E1E; */
  border-radius: 10px;
}

.header {
  font-size: 2em;
  margin-bottom: 10px;
}

.subheader {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.folder-selection, .lifespan-selection {
  margin-bottom: 20px;
}

.folder-btn, .smear-btn, .help-btn, .settings-btn, .feedback-btn {
  background-color: #FF4081;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.smear-btn {
  width: 100%;
}

.lifespan-input {
  width: 60%;
  padding: 5px;
  margin-right: 10px;
}

.lifespan-dropdown {
  width: 30%;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .app-container {
      width: 90%;
  }
}
